In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [2]:
df = pd.read_csv("data.csv", sep=";")
df

,H03,H05,H16,MO011980,MO021980,MO031980,MO041980,MO051980,MO061980,MO071980,...,MO032002,MO042002,MO052002,MO062002,MO072002,MO082002,MO092002,MO102002,MO112002,MO122002
0,FMP20000,"Total, gold included",Actual indices,102.9,103.3,102.8,103.5,106.3,105.5,109.2,...,97.8,100.6,101.5,102.7,97.7,105.8,106.7,105.3,106.1,105.6
1,FMP20001,"Total, gold excluded",Actual indices,55.1,54.3,56.8,58.4,58.6,60.2,60.2,...,78.6,82.0,83.3,83.5,79.7,86.5,86.7,87.1,88.2,86.6
2,FMP21000,Coal,Actual indices,44.7,44.4,44.9,44.1,46.5,48.5,48.4,...,81.5,84.0,90.0,87.2,95.4,91.5,91.5,96.5,95.7,76.5
3,FMP23010,Iron ore,Actual indices,37.8,30.5,36.1,39.0,39.9,44.4,40.2,...,50.6,47.0,47.3,54.1,50.1,51.2,43.3,52.1,49.5,49.0
4,FMP23020,Chromium,Actual indices,24.7,25.4,26.1,25.4,25.6,25.4,25.0,...,35.7,38.8,41.0,42.3,45.0,42.2,47.8,45.6,44.7,43.0
5,FMP23021,Copper,Actual indices,281.1,227.7,246.3,238.2,273.0,234.1,276.5,...,168.7,165.9,182.7,153.3,181.3,173.6,149.8,156.1,161.7,170.8
6,FMP23022,Manganese ore,Actual indices,35.6,41.1,40.9,44.8,40.9,41.8,37.2,...,28.6,25.7,25.1,33.1,31.9,35.0,32.1,34.2,33.7,32.2
7,FMP23023,PGMs,Actual indices,39.7,38.8,37.8,42.2,39.1,42.0,42.7,...,84.1,86.2,90.7,87.1,72.1,94.6,96.4,91.9,95.2,107.8
8,FMP23029,Nickel,Actual indices,47.9,46.9,45.7,49.2,51.8,51.2,51.4,...,60.5,61.8,64.6,76.5,74.4,78.3,73.9,71.6,68.5,71.6
9,FMP23999,Other metallic minerals,Actual indices,199.3,207.3,223.5,236.5,223.4,236.3,222.2,...,148.7,141.5,149.8,141.5,132.6,125.4,127.6,129.8,137.6,140.4
10,FMP24000,Gold,Actual indices,468.8,474.2,460.8,460.4,476.7,465.8,490.5,...,279.2,275.6,270.8,282.8,267.2,286.3,294.7,273.2,270.8,282.8
11,FMP27000,Diamonds,Actual indices,113.0,112.0,134.4,122.2,118.5,117.8,133.9,...,142.7,124.0,125.6,151.8,151.8,135.2,142.2,149.1,144.8,128.8
12,FMP28888,Building materials,Actual indices,42.4,56.5,58.7,61.9,60.6,69.0,61.1,...,66.3,68.4,78.5,72.6,79.1,74.3,80.3,78.5,79.1,59.8
13,FMP28999,Other non-metallic minerals,Actual indices,301.7,311.2,307.3,327.3,338.8,338.2,323.9,...,114.9,178.5,169.0,167.5,164.6,178.5,171.2,159.5,173.4,161.7

In [3]:
df2 = df.melt(id_vars=["H03", "H05", "H16"],
              var_name="Date", value_name="sales")

In [4]:
df2[["Prefix", "Month", "Year"]] = df2["Date"].astype(
    "str").str.extract(r'(MO)(\d{2})(\d{4})')

In [5]:
df2

,H03,H05,H16,Date,sales,Prefix,Month,Year
0,FMP20000,"Total, gold included",Actual indices,MO011980,102.9,MO,01,1980
1,FMP20001,"Total, gold excluded",Actual indices,MO011980,55.1,MO,01,1980
2,FMP21000,Coal,Actual indices,MO011980,44.7,MO,01,1980
3,FMP23010,Iron ore,Actual indices,MO011980,37.8,MO,01,1980
4,FMP23020,Chromium,Actual indices,MO011980,24.7,MO,01,1980
...,...,...,...,...,...,...,...,...
3859,FMP23999,Other metallic minerals,Actual indices,MO122002,140.4,MO,12,2002
3860,FMP24000,Gold,Actual indices,MO122002,282.8,MO,12,2002
3861,FMP27000,Diamonds,Actual indices,MO122002,128.8,MO,12,2002
3862,FMP28888,Building materials,Actual indices,MO122002,59.8,MO,12,2002
3863,FMP28999,Other non-metallic minerals,Actual indices,MO122002,161.7,MO,12,2002

In [6]:
df2["date"] = pd.to_datetime(df2["Year"].astype(
    str)+"-"+df2["Month"].astype(str)+"-"+"01", format="%Y-%m-%d")

In [7]:
df2

,H03,H05,H16,Date,sales,Prefix,Month,Year,date
0,FMP20000,"Total, gold included",Actual indices,MO011980,102.9,MO,01,1980,1980-01-01
1,FMP20001,"Total, gold excluded",Actual indices,MO011980,55.1,MO,01,1980,1980-01-01
2,FMP21000,Coal,Actual indices,MO011980,44.7,MO,01,1980,1980-01-01
3,FMP23010,Iron ore,Actual indices,MO011980,37.8,MO,01,1980,1980-01-01
4,FMP23020,Chromium,Actual indices,MO011980,24.7,MO,01,1980,1980-01-01
...,...,...,...,...,...,...,...,...,...
3859,FMP23999,Other metallic minerals,Actual indices,MO122002,140.4,MO,12,2002,2002-12-01
3860,FMP24000,Gold,Actual indices,MO122002,282.8,MO,12,2002,2002-12-01
3861,FMP27000,Diamonds,Actual indices,MO122002,128.8,MO,12,2002,2002-12-01
3862,FMP28888,Building materials,Actual indices,MO122002,59.8,MO,12,2002,2002-12-01
3863,FMP28999,Other non-metallic minerals,Actual indices,MO122002,161.7,MO,12,2002,2002-12-01

In [8]:
df2.drop(columns=["Date", "Prefix", "Month", "Year"], inplace=True)
df2

           H03                          H05             H16  sales       date
0     FMP20000         Total, gold included  Actual indices  102.9 1980-01-01
1     FMP20001         Total, gold excluded  Actual indices   55.1 1980-01-01
2     FMP21000                         Coal  Actual indices   44.7 1980-01-01
3     FMP23010                     Iron ore  Actual indices   37.8 1980-01-01
4     FMP23020                     Chromium  Actual indices   24.7 1980-01-01
...        ...                          ...             ...    ...        ...
3859  FMP23999      Other metallic minerals  Actual indices  140.4 2002-12-01
3860  FMP24000                         Gold  Actual indices  282.8 2002-12-01
3861  FMP27000                     Diamonds  Actual indices  128.8 2002-12-01
3862  FMP28888           Building materials  Actual indices   59.8 2002-12-01
3863  FMP28999  Other non-metallic minerals  Actual indices  161.7 2002-12-01

[3864 rows x 5 columns]

In [9]:
df3 = pd.get_dummies(df2, columns=['date', 'H03', 'H05', 'H16'])
df3

,sales,date_1980-01-01 00:00:00,date_1980-02-01 00:00:00,date_1980-03-01 00:00:00,date_1980-04-01 00:00:00,date_1980-05-01 00:00:00,date_1980-06-01 00:00:00,date_1980-07-01 00:00:00,date_1980-08-01 00:00:00,date_1980-09-01 00:00:00,...,H05_Gold,H05_Iron ore,H05_Manganese ore,H05_Nickel,H05_Other metallic minerals,H05_Other non-metallic minerals,H05_PGMs,"H05_Total, gold excluded","H05_Total, gold included",H16_Actual indices
0,102.9,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,55.1,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
2,44.7,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,37.8,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
4,24.7,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3859,140.4,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3860,282.8,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3861,128.8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3862,59.8,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3863,161.7,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [10]:
X = df3.drop('sales', axis=1)
y = df3['sales']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
random_forest_model = RandomForestRegressor(n_estimators=100, random_state=0)

In [13]:
# Train the model on the training data
random_forest_model.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [14]:
# Make predictions on the test data
y_pred = random_forest_model.predict(X_test)

In [15]:
# Evaluate the model's performance
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)

In [20]:
plt.figure(figsize=(8, 6))
plt.scatter(y_test, y_pred, color='blue', alpha=0.5)
plt.plot([min(y_test), max(y_test)], [min(y_test), max(y_test)], color='red', linestyle='--', lw=2)
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')
plt.title('Actual vs. Predicted Values (Random Forest)')
plt.savefig('actual_vs_predicted.png')
plt.close()

In [17]:
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r_squared)

Mean Absolute Error (MAE): 17.706174644243212
Mean Squared Error (MSE): 924.2192790310481
R-squared (R2): 0.9103843382017419

In [19]:
with open('results.txt', 'w') as f:
    f.write(f"R2 Score: {r_squared}\n")
    f.write(f"Mean Absolute Error (MAE): {mae}\n")
    f.write(f"Mean Squared Error (MSE): {mse}\n")